{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}Create Your Account!
<form method="POST">
    <h2 align="center">Sign Up</h2>
    <div class="form-group">
        <label for="email"> Email Address</label>

        <input 
        type="text" 
        id="email"
        name="email"
        class="form-control"
        placeholder="Enter Email"
        />

        <label for="usrnam"> Username</label>
        <input 
        type="text" 
        id="usrnam"
        name="usrnam"
        class="form-control"
        placeholder="Enter username"
        />

        <label for="fname"> First Name</label>
        <input 
        type="text" 
        id="fname"
        name="fname"
        class="form-control"
        placeholder="Enter first name"
        />
        <label for="lname"> Last Name</label>
        <input 
        type="text" 
        id="lname"
        name="lname"
        class="form-control"
        placeholder="Enter last name"
        />

        <label for="pw1"> Password</label>
        <input 
        type="password" 
        id="pw1"
        name="pw1"
        class="form-control"
        placeholder="Enter password"
        />

        <label for="pw2"> Re-enter Password </label>
        <input 
        type="password" 
        id="pw2"
        name="pw2"
        class="form-control"
        placeholder="Enter password again"
        />

        <br/>
        <div align="center">
            <button class="btn btn-primary" type="submit">
                SIGN UP!!
            </button>
        </div>


    </div>
</form>

{% endblock %}